<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
    </plugin>
  </gazebo>

  <gazebo reference="lidar_link">
    <sensor name="lidar_link" type="gpu_lidar">
      <topic>/scan</topic>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.35</min>
          <max>5.0</max>
        </range>
      </lidar>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>true</visualize>
      <topic>/imu</topic>
      <gz_frame_id>imu_link</gz_frame_id>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>${body_width + 2*track_width + wheel_thickness}</wheel_separation>
      <wheel_radius>${wheel_radius}</wheel_radius>

      <topic>/cmd_vel</topic>
      <odometry_topic>/odom</odometry_topic>
      <publish_tf>false</publish_tf>
      <tf_topic>/tf</tf_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>
    </plugin>
  </gazebo>

  <gazebo reference="gps_link">
    <sensor name="navsat" type="navsat">
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <topic>/gps/fix</topic>
      <gz_frame_id>gps_link</gz_frame_id>
      <navsat>
        <position_sensing>
          <horizontal>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </horizontal>
          <vertical>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </vertical>
        </position_sensing>
      </navsat>
    </sensor>
  </gazebo>

</robot>