capture_directory: "~"
fixed_frame: map
target_frame: base_footprint
background: "#a0a0a4"
image_transport: raw
plugins:
  - type: mapviz_plugins/tile_map
    name: Background Map
    config:
      visible: true
      collapsed: false
      source: Stamen (Terrain)
      custom_sources:
        []
      bing_api_key: ""
      google_api_key: ""
      check_for_updates: true
      max_network_retries: 3
  - type: mapviz_plugins/navsat
    name: GPS Fix
    config:
      visible: true
      collapsed: false
      topic: /fix
      color: "#00ff00"
      draw_style: points
      position_tolerance: 0
      buffer_size: 1
      show_all_gps: false
  - type: mapviz_plugins/tf_frame
    name: Robot Frame
    config:
      visible: true
      collapsed: false
      frame: base_footprint
      color: "#ff0000"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: true
      arrow_size: 20
  - type: mapviz_plugins/string
    name: Status
    config:
      visible: true
      collapsed: false
      font: Ubuntu, 12
      color: "#ffffff"
      topic: /local_xy_origin
      anchor: top_left
      units: pixels
      offset_x: 10
      offset_y: 10